<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data.title }}</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script type="text/javascript" src="/assets/scripts/vendor.js"></script>
    <script type="text/javascript" src="/assets/scripts/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="page:index">gulp-docs</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="page:group1-start">Group 1</a></li>
            <li><a href="page:group2-start">Group 2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </nav>
    %%content%%
    <footer>
      <div class="container">
        &copy; 2015 Christian Hoffmeister
      </div>
    </footer>
  </body>
</html>
