---
layout: blank
---
<div class="row">
  <div class="col-sm-3 hidden-xs">
    <ul id="sitemap">
    {% for name, sitemap in site.sitemaps %}
      <li class="sitemap-group">{{ sitemap.title }}</li>
      {% for section in sitemap.sections %}
        <li class="sitemap-section">{{ section.title }}</li>
        {% for entry in section.entries %}
          <li class="sitemap-entry">
            <a href="{{ entry.link }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <article>
      %%content%%
    </article>
  </div>
</div>
